<div class="plafond">
</div>



<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6 col-md-offset-3">

			<div class="ProfilInformation">
				<h1>Your informations</h1>
				
				<br></br>
				<hr>

				<h1><%= user.firstname %></h1>
				<h3><%= user.lastname  %></h3>
				<h3>Pseudo:   <%= user.pseudo  %></h3>

				<h3>Contact: <%= user.email %> </h3>
				
				<br></br>
				<hr>

				<br></br>
				
				<% if(user.admin){ %>
					<td><img src="/images/admin/admin.png"><strong>    Administrator</strong></td>
				<% } %>

				<h4>You can edit your informations at any time</h4>
				<a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit your informations now!</a>
			</div>
		</div>
	</div>

	


<style>

	hr {
	  height: 2px;
	  margin: -0.5em 0;
	  background-color: black;

	}
	
	body {
		background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
	}
	.ProfilInformation{
		text-align: center;
	}

</style>



